:root {
    --color-1: #ffefe8;
    --color-2: #fccce3;
    --color-3: #7c3758;
    --color-4: #391f2b;
}

.navbar li{
    padding: 0.5rem;
}

.navbar a{
    font-size: 1.5rem;
}

.about p {
    font-size:x-large;
}

.portfolio {
    display: flex;
    justify-content: space-evenly;
}

.project, .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project img {
    height: 200px;
    width: auto;
}

.icon {
    margin: 2rem;
}